<launch>
    <arg name="pkg_name" default="cubeeye_ttf" />
    <arg name="amplitudeThres" default="15"/>
    <arg name="scatterThres" default="15" />

    <node name="cubeeye_camera" pkg="$(arg pkg_name)" type="cubeeye_ttf_node" output="screen" >
        <param name="pkg_name"  value="$(arg pkg_name)" />
        <param name="amplitudeThres"  value="$(arg amplitudeThres)" />
        <param name="scatterThres"  value="$(arg scatterThres)" />        
    </node>
</launch>
